body {
    background-color: #e6fafa;
    color: #9479e6;
    font-family: Arial;
    overflow: hidden;
    margin: 0;
}

.main-content{
    width:100%;
    height:100%;
}

h2{
    text-align:center;
    width:100%;
}

ul{
    position:relative;
    left:40%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

li>a{
    text-decoration:underline !important;
    font-size:20px;
    font-weight:bold;
    color:#746be7;
}